/*MEDIAS QUERISNEGRIII*/
@media screen and (max-width: 540px)

/*hasta 540 pixeles*/
  {
  
}

@media screen and (max-width: 500px) {

  .navbar-collapse ul{
    list-style-type: none;
  }

  .navbar-collapse .main-nav a {
    text-decoration: none;
    color: #34495e;
    text-transform: uppercase;
    font-family: 'Cinzel';
    font-size: 16px;
}
  
  .galeria::before{
    height: 100%;
  }
  .galeria img {
    border-radius: 10%;
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    animation: float 1s ease-in-out infinite;
  }
  @keyframes float {
    0% {
      
      transform: translatey(0px);
    }
    50% {
      
      transform: translatey(-15px);
    }
    100% {
      
      transform: translatey(0px);
    }
  }
  /*.galeria, img:hover { transform: scale(1.2); }*/
  
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

  div.sobreMi  {
    color: #34495e;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Cinzel';
   
 
  }
  div.sobreMi h2{
    text-align: center;
    font-size: 25px;
    color: #383e56;

    overflow: hidden; 
    white-space: nowrap; 
    animation: 
      typing 1.5s steps(80, end),
      blink-caret .5s step-end infinite;
  }
  @keyframes typing {
    from { width: 0% }
    to { width: 100% }
  }

  @keyframes typingDos {
    from { width: 0 }
    to { width: 100%}
  }
  @keyframes typingTres {
    from { width: 0 }
    to { width: 70% }
  }
  
 

  .ocultarMeta{
    opacity: 1;
  }
 
  .mostrarMeta{
    font-size: 15px;
    width: max-content;
    overflow: hidden; 
    white-space: nowrap; 

    opacity: 1;
  }

  .mostrarMetaTres{
    font-size: 25px;
    width: max-content;
    overflow: hidden; 
    white-space: nowrap; 

    opacity: 1;
  }


  .footer {
    width: 100%;
  }

  .footer .container .row div {
    font-family: "Spectral", serif;
    font-size: 1.5rem;
  }

  .skills-title {
    text-align: center;
    margin: 0 !important;
    /*  padding: 40px; */
  }

  .skills-text {
    margin-top: 50px;
  }
}

@media screen and (min-width: 500px) {
/*desde 500px*/

.navbar-collapse ul{
  list-style-type: none;
}

.navbar-collapse .main-nav a {
  text-decoration: none;
  color: #34495e;
  text-transform: uppercase;
  font-family: 'Cinzel';
  font-size: 16px;
}
  
    .galeria::before {
    height: 100%;
  }

  .galeria img {
    border-radius: 10%;
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    animation: float 1s ease-in-out infinite;
  }
  @keyframes float {
    0% {
      
      transform: translatey(0px);
    }
    50% {
      
      transform: translatey(-15px);
    }
    100% {
      
      transform: translatey(0px);
    }
  }
  /*.galeria, img:hover { transform: scale(1.2); }*/
  
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .footer {
    margin: 0% !important;
    width: 100%;
  }

  .footer .row div {
    font-family: "Spectral", serif !important;
    font-size: 2rem;
    position: relative;
    top: 100px;
  }

  .skills-title {
    text-align: center;
  }
}

@media screen and (min-width: 576px) {
  .galeria::before{
    height: 130%;
  }
  div.sobreMi p {
    font-size: 1.5rem !important;
  }

  h1 {
    margin-left: 15px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 60px;
  }
  .navegacion{
    background-image: url(imagenes/blur4.jpg);
    background-size: 30000px auto;
    z-index: 100;
    padding: .1em;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  }
  .main-nav{
    list-style-type: none;
    margin: 14px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navegacion .main-nav a {
    text-decoration: none;
    padding: 10px 25px;
    color: #34495e;
    text-transform: uppercase;
    font-family: 'Cinzel';
    font-size: 18px;

  }
  .main-nav a:hover {
    color: #718daa;
  }
  
  .galeria::before{
    height: 60%;
  }
  
  .galeria img {
    border-radius: 10%;
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: float 1s ease-in-out infinite;
  }
  div.sobreMi  {
    color: #34495e;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Cinzel';
  
 
  }
  div.sobreMi h2{

    font-size: 2rem;
    color: #383e56;
    width: 155px;
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0;
    margin-right: 0 auto;
    animation: 
      typing 1s steps(15, end),
      blink-caret .5s step-end infinite;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 15% }
  }

  @keyframes typingDos {
    from { width: 0 }
    to { width: 100%}
  }
  @keyframes typingTres {
    from { width: 0 }
    to { width: 70% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(61, 61, 61) }
  }

  .linea{
    border-right: .1em solid rgb(51, 50, 50);
  }
  .ocultarMeta{
    opacity: 0;
  }
 
  .mostrarMeta{
    font-size: 2rem;
    width: max-content;
    overflow: hidden; 
    white-space: nowrap; 
    margin-top: 20px;
    animation: 
      typingDos 3.8s steps(50, end),
      blink-caret .5s step-end infinite;
    opacity: 1;
  }

  .mostrarMetaTres{
    font-size: 2rem;
    width: max-content;
    overflow: hidden; 
    white-space: nowrap; 
    animation: 
      typingTres 3.8s steps(50, end),
      blink-caret .5s step-end infinite;
    opacity: 1;
  }


}

@media screen and (min-width: 992px) {
 div.sobreMi  {
    color: #34495e;
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
    font-family: 'Cinzel';
    letter-spacing: 0.5rem;
 
  }
  div.sobreMi h2{
    color: #383e56;
    width: 155px;
    overflow: hidden; 
    white-space: nowrap; 
    position: relative;
    bottom: 20px;
    right: 20px;
    animation: 
      typing 1s steps(15, end),
      blink-caret .5s step-end infinite;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 15% }
  }

  @keyframes typingDos {
    from { width: 0 }
    to { width: 100%}
  }
  @keyframes typingTres {
    from { width: 0 }
    to { width: 70% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(61, 61, 61) }
  }

  .linea{
    border-right: .1em solid rgb(51, 50, 50);
  }
  .ocultarMeta{
    opacity: 0;
  }
 
  .mostrarMeta{
    font-size: 2rem;
    width: max-content;
    overflow: hidden; 
    white-space: nowrap; 
    animation: 
      typingDos 3.8s steps(50, end),
      blink-caret .5s step-end infinite;
    opacity: 1;
  }

  .mostrarMetaTres{
    font-size: 2rem;
    width: max-content;
    overflow: hidden; 
    white-space: nowrap; 
    animation: 
      typingTres 3.8s steps(50, end),
      blink-caret .5s step-end infinite;
    opacity: 1;
  }

 .division{

  width: 100%;
  
 }

  .division img {
    float: right;
    height: auto;
    width: 40%;
    margin: 0 auto;
    opacity: 0;
    transition: all 0.5s ease-in;
    display: block;
    position: relative;
 }

  .division img.animate {
    opacity: 1;
    transition: all 0.5s ease-in;
 }


   
  .galeria::before{
    height: 55%;
  }

  * {
    box-sizing: border-box;
 }

  footer {
    height: 300px;
  
    position: relative;
 }
  footer .footer__inner {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 40px 60px;
    width: 100%;
 }
  footer .footer__inner * {
    color: #fff;
 }
  footer .logo {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 80px;
    transform: translateY(50px);
    opacity: 0;
    transition: transform, opacity;
    transition-duration: 0.8s;
    transition-timing-function: ease;
 }
  footer .logo.show {
    transform: translateY(0);
    opacity: 1;
 }
  footer nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
  

@media (min-width: 1200px) {
  .galeria::before{
    height: 125%;
  }
  .galeria .container {
    max-width: 1600px !important;
  }


  h1 {
    font-size: 2.5rem !important;
    letter-spacing: 0.5rem;
    margin-left: 20px;
    transform: translateY(40px);
  }

  .footer {
     top: 1600px !important;  
  }
}
@media (min-width: 1338px) {
  .galeria::before{
    height: 120%;
  }
  .footer {
    top: 1650px !important;  
    left: 0px !important;
  }
}

@media (min-width: 1450px) {
  .galeria::before{
    height: 140%;
  }
  .footer {
    top: 1800px !important;
    left: 0px !important;
  }
} 

@media (min-width: 1600px) {
  .galeria::before{
    height: 100%;
  }
  .footer {
    top: 1900px !important;
    left: 0px !important;
  }
} 

/* BODY */
body{
  background-image: url("imagenes/blur4.jpg"); 
  background-size: 30000px auto;
  background-repeat: no-repeat;
}
 .galeria::before {
  /*content: "";*/
  position: absolute;
  width: 100%;
  height: 100%;

  overflow:hidden;
  -webkit-filter: blur(5px);
  filter: blur(5px);
} 
/*.galeria{
  background-image: url("imagenes/blur4.jpg"); 
  background-size: 30000px auto;
  background-repeat: no-repeat;

}*/
.box {
  margin-top: 10%;
  height: auto;
}

.galeria img {
  border-radius: 10%;
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  animation: float 1s ease-in-out infinite;
}
@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-15px);
	}
	100% {
		
		transform: translatey(0px);
	}
}
/*.galeria, img:hover { transform: scale(1.2); }*/

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.col {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.galeria .row {
  width: 100%;
  height: auto;
  margin: 0% !important;

}

/*                           MAIN                                     */

.proyectos .cardisita {
  text-align: center;
  padding: 10% 0% 0% 0%;
 
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15%;
}


.titulo h3 {
  font-size: 2rem;
  color: #52575d;
  font-family: "Spectral", serif;
}



.cardisita {
  display: grid;
  place-items: center;
  transition-duration: 0.5s;
}

.card {
  width: 15rem;
  height: 10rem;
  overflow: hidden;
  display: block;
  position: relative;
  transition-duration: 0.5s;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
}

.cardLink {
  position: absolute;
  top: 17px;
  bottom: 0;
  left: 0;
  right: 0px;
  padding: 0;
  margin: 0 auto;
  background-position: center -100px;
  transform: scale(1);
  opacity: 0;
  box-shadow: 0 8px 2px 0px rgba(0, 0, 0, 0.125);
}

/* hover de la imagen */
.card:hover .cardImg,
.card:hover .cardImgD,
.card:hover .cardImgS
{
  filter: blur(3px);
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(0.98);
}

.cardLink:hover {
  opacity: 1;
  transition-duration: 0.5s;
}

.cardImgD .cardLink:hover {
  opacity: 1;
  transition-duration: 0.5s;
}

/* Clases de las imagenes */
.cardImg {
  background: url(imagenes/rutina9.jpg) center center/cover;
  width: 15rem;
  height: 10rem;
  transition: all 1s ease;
}

.cardImgD {
  background: url(imagenes/drums3.jpg) center center/cover;
  width: 15rem;
  height: 10rem;
  transition: all 1s ease;
}

.cardImgS {
  background: url(imagenes/simon1.jpg) center center/cover;
  width: 15rem;
  height: 10rem;
  transition: all 1s ease;
}
.proceso{
  background: url(imagenes/process.jpg) center center/cover;
  width: 15rem;
  height: 10rem;
  transition: all 1s ease;
}

.card a 
 {
  font-size: 2rem !important;
  text-decoration: none !important;
  font-family: "Spectral", serif;
  font-weight: lighter !important;
}

/*Hover de los links-cards*/

.skin:hover {
  text-decoration: none !important;
  color: #a6a6a4;
  opacity: 1;
  transition-duration: 0.3s;
}

.drums:hover {
  color: #f4f3f3 !important;
  transition-duration: 0.3s;
}

.simon:hover {
  color: #f4f3f3;
  transition-duration: 0.3s;
}

/*                        FOOTEEEEEEEEEEEEEEEEER                                          */

.footer {
  margin: 2% 2% 0% 0% !important;


}

p {
  text-decoration: none !important;
  transition-duration: 0.5s;
}

.text-center,
a
p {
  color: #f9f6f7;
  text-decoration: none !important;
}



/*SKILL BAR*/

#skills {
  padding: 20px 15px 75px 15px;
   color: #ffff; 
 
}

.skills-text {
  font-family: "Spectral", serif;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  font-weight: lighter !important;
}

.skills-title {
  font-size: 3rem;
  font-family: "Spectral", serif;
  margin-bottom: 3rem;
  color: #c1c1c1;
}

.skills-title.underline:before {
  width: 40px;
}

.skills-list {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.skill-name:after {
  background-color: #999797;
  content: "";
  display: block;
  position: relative;
  top: 3px;
  width: 100%;
}

.skill-percent {
  font-size: 0;
  height: 2px;
  position: relative;
  transition: 3s linear;
  width: 0;
}

/* SKILL BAR COLORS */

.skill-percent-html {
  background-color: #bbbbbb;
}

.skill-percent-css {
  background-color:  #bbbbbb;
}

.skill-percent-jquery {
  background-color:  #bbbbbb;
}

.skill-percent-scss {
  background-color: #bbbbbb;
}

.skill-percent-javascript {
  background-color:  #bbbbbb;
}

.skill-percent-responsive {
  background-color:  #bbbbbb;
}



/* Heading Underline */

#lab_social_icon_footer {
  padding: 5px 0;
 /*  background-color: #dedede; */
}

#lab_social_icon_footer a {
  -webkit-transition-duration: 0.5s;
  color: #c1c1c1;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
}
/*
    Colores Hover
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #3f3f44;
}

#lab_social_icon_footer #social-em:hover {
  color: #a12312;
}