/*MEDIAS QUERISNEGRIII*/
@media screen and (max-width: 540px)

/*hasta 540 pixeles*/
  {
  div.sobreMi p {
    font-size: 1rem !important;
  }

  h1 {
    letter-spacing: 5px;
    font-size: 1.5rem !important;
    transform: translateY(12px);
    margin-left: 40px !important;
  }
}

@media screen and (max-width: 500px) {
  .galeria::before{
    height: 100%;
  }
  div.sobreMi p {
    font-size: 1rem !important;
  }

  h1 {
    letter-spacing: 2px;
    font-size: 1.5rem !important;
    transform: translateY(12px);
    margin-left: 40px !important;
  }

  h3 {
    letter-spacing: 0.5rem;
    font-size: 1.5rem !important;
  }

  .footer {
    width: 100%;
  }

  .footer .container .row div {
    font-family: "Spectral", serif;
    font-size: 1.5rem;
  }

  .skills-title {
    text-align: center;
    margin: 0 !important;
    /*  padding: 40px; */
  }

  .skills-text {
    margin-top: 50px;
  }
}

@media screen and (min-width: 500px)
/*desde 500px*/
  
{
    .galeria::before{
    height: 100%;
  }
  div.sobreMi p {
    margin: 0 !important;
    font-size: 1rem !important;
    transform: translateY(10px);
  }

  h1 {
    margin-left: 15px;
  }

  .footer {
    margin: 0% !important;
    width: 100%;
  }

  .footer .row div {
    font-family: "Spectral", serif !important;
    font-size: 2rem;
    position: relative;
    top: 100px;
  }

  .skills-title {
    text-align: center;
  }
}

@media screen and (min-width: 576px) {
  .galeria::before{
    height: 130%;
  }
  div.sobreMi p {
    font-size: 1.5rem !important;
  }

  h1 {
    margin-left: 15px;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .galeria::before{
    height: 60%;
  }
  div.sobreMi p {
    position: relative;
    right: 50px;
    margin-top: 20% !important;
    font-size: 1.5rem !important;
  }

  div.imagen {
    margin-top: 8%;
  }

  h1 {
    letter-spacing: 1.2rem;
    font-size: 2rem !important;
    transform: translateY(10px);
    margin-left: 50px;
  }

  h3 {
    letter-spacing: 0.5rem;
    font-size: 1rem !important;
  }

  .footer {
    top: 1500px !important;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .galeria::before{
    height: 55%;
  }
  div.sobreMi p {
   
    position: relative;
    /*right: 50px;
    font-size: 2.5rem !important;*/
  }
  div.sobreMi, h2{
    font-family: 'Cinzel';
    letter-spacing: 0.5rem;
    
  }

  div.imagen {
   
    margin-top: 8%;
  }

  h1 {
    margin-left: 150px;
    letter-spacing: 1.2rem;
  }


  .footer {
    top: 1900px !important;
  }

  .footer .row div {
    font-family: "Spectral", serif !important;
    font-size: 2.5rem;
    position: relative;
    top: 100px;
  }

  .skills-title {
    margin: 0%;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .galeria::before{
    height: 125%;
  }
  .galeria .container {
    max-width: 1600px !important;
  }

  div.imagen {
    margin-top: 2%;
  }

  h1 {
    font-size: 2.5rem !important;
    letter-spacing: 0.5rem;
    margin-left: 20px;
    transform: translateY(40px);
  }

  .footer {
     top: 1600px !important;  
  }
}
@media (min-width: 1338px) {
  .galeria::before{
    height: 120%;
  }
  .footer {
    top: 1650px !important;  
    left: 0px !important;
  }
}

@media (min-width: 1450px) {
  .galeria::before{
    height: 140%;
  }
  .footer {
    top: 1800px !important;
    left: 0px !important;
  }
} 

@media (min-width: 1600px) {
  .galeria::before{
    height: 100%;
  }
  .footer {
    top: 1900px !important;
    left: 0px !important;
  }
} 

/* BODY */
 .galeria::before {
  content: "";
  position: absolute;
  width: 100%;
  background-image: url("imagenes/blur4.jpg"); 
  background-size: 30000px auto;
  background-repeat: no-repeat;
  overflow:hidden;
  -webkit-filter: blur(5px);
  filter: blur(5px);
} 
.galeria{
  background-size: 2000px; 
  background-repeat: no-repeat;

}


.box {

  margin-top: 5%;
  /*margin-bottom: 15%;*/
  height: auto;
}

.box>.bordes {
  border: 2px solid rgba(5, 5, 5, 0.5);
  background-clip: padding-box;
  transition-duration: 0.5s;
  padding: 0% 0% 5% 0%;
}

.box>.bordes:hover {
  border: 1px solid rgb(241, 241, 241, 0.2);
  transition-duration: 0.5s;
}

.galeria img {
  border-radius: 10%;
  width: 60%;
  height: auto;
  animation: fade-in ease 3s;
  margin: 0% !important;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.col {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.sobreMi p {
  height: auto;
  font-family: 'Cinzel', serif;
  line-height: 2;
  color: rgb(112, 112, 112);
  margin-top: 50% !important;
  margin-bottom: 10% !important;
}
.sobreMi, h2{
  /*font-family: 'Cinzel, serif';*/
}

.sobreMi, h4 {
  padding: 2%;
  font-family: 'Cinzel', serif;
}

.galeria .row {
  background-color: white;
  border-radius: 2%;
  width: 100%;
  height: auto;
  margin: 0% !important;
  padding-bottom: 5%;
}

/*                           MAIN                                     */

.proyectos {
  position: relative;
  margin: 50px;
  padding: 10%;
  margin: 2% 2% 0% 2%;
 /*  background: #f6f5f5; */
  background-image: url("imagenes/blur4.jpg"); 
  background-size: 10000px auto;
  background-repeat: no-repeat;

}

.proyectos .cardisita {
  text-align: center;
  padding: 10% 0% 0% 0%;
  position: relative;
}

.titulo {
  transition-duration: 0.8s;
  margin: 0 !important;
  display: grid;
  justify-content: center;
  padding: 100px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.titulo:hover {
  border: 1px solid rgba(51, 50, 50, 0.568);
  transition-duration: 0.5s;
}

h3 {
  font-weight: lighter !important;
  color: #52575d;
  font-family: "Spectral", serif;
}



.cardisita {
  display: grid;
  place-items: center;
  transition-duration: 0.5s;
}

.card {
  width: 15rem;
  height: 10rem;
  overflow: hidden;
  display: block;
  position: relative;
  transition-duration: 0.5s;
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
}

.cardLink {
  position: absolute;
  top: 17px;
  bottom: 0;
  left: 0;
  right: 0px;
  padding: 0;
  margin: 0 auto;
  background-position: center -100px;
  transform: scale(1);
  opacity: 0;
  box-shadow: 0 8px 2px 0px rgba(0, 0, 0, 0.125);
}

/* hover de la imagen */
.card:hover .cardImg,
.card:hover .cardImgD,
.card:hover .cardImgS,
 {
  filter: blur(3px);
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(0.98);
}

.cardLink:hover {
  opacity: 1;
  transition-duration: 0.5s;
}

.cardImgD .cardLink:hover {
  opacity: 1;
  transition-duration: 0.5s;
}

/* Clases de las imagenes */
.cardImg {
  background: url(imagenes/rutina9.jpg) center center/cover;
  width: 15rem;
  height: 10rem;
  transition: all 1s ease;
}

.cardImgD {
  background: url(imagenes/drums3.jpg) center center/cover;
  width: 15rem;
  height: 10rem;
  transition: all 1s ease;
}

.cardImgS {
  background: url(imagenes/simon1.jpg) center center/cover;
  width: 15rem;
  height: 10rem;
  transition: all 1s ease;
}
.proceso{
  background: url(imagenes/process.jpg) center center/cover;
  width: 15rem;
  height: 10rem;
  transition: all 1s ease;
}

a h4 {
  font-size: 2rem !important;
  text-decoration: none !important;
  font-family: "Spectral", serif;
  font-weight: lighter !important;
}

/*Hover de los links-cards*/

.skin:hover {
  text-decoration: none !important;
  color: #a6a6a4;
  opacity: 1;
  transition-duration: 0.3s;
}

.drums:hover {
  color: #f4f3f3 !important;
  transition-duration: 0.3s;
}

.simon:hover {
  color: #f4f3f3;
  transition-duration: 0.3s;
}

/*                        FOOTEEEEEEEEEEEEEEEEER                                          */

.footer {
  margin: 2% 2% 0% 0% !important;
  background-image: url("imagenes/blur4.jpg"); 
  background-size: 10000px auto;
  background-repeat: no-repeat;

}

p {
  text-decoration: none !important;
  transition-duration: 0.5s;
}

a,
p {
  color: #f9f6f7;
  text-decoration: none !important;
}



/*SKILL BAR*/

#skills {
  padding: 20px 15px 75px 15px;
   color: #ffff; 
 
}

.skills-text {
  font-family: "Spectral", serif;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  font-weight: lighter !important;
}

.skills-title {
  font-size: 3rem;
  font-family: "Spectral", serif;
  margin-bottom: 3rem;
  color: #c1c1c1;
}

.skills-title.underline:before {
  width: 40px;
}

.skills-list {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.skill-name:after {
  background-color: #999797;
  content: "";
  display: block;
  position: relative;
  top: 3px;
  width: 100%;
}

.skill-percent {
  font-size: 0;
  height: 2px;
  position: relative;
  transition: 3s linear;
  width: 0;
}

/* SKILL BAR COLORS */

.skill-percent-html {
  background-color: #bbbbbb;
}

.skill-percent-css {
  background-color:  #bbbbbb;
}

.skill-percent-jquery {
  background-color:  #bbbbbb;
}

.skill-percent-scss {
  background-color: #bbbbbb;
}

.skill-percent-javascript {
  background-color:  #bbbbbb;
}

.skill-percent-responsive {
  background-color:  #bbbbbb;
}



/* Heading Underline */

#lab_social_icon_footer {
  padding: 5px 0;
 /*  background-color: #dedede; */
}

#lab_social_icon_footer a {
  -webkit-transition-duration: 0.5s;
  color: #c1c1c1;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
}
/*
    Colores Hover
*/

#lab_social_icon_footer #social-fb:hover {
  color: #3B5998;
}

#lab_social_icon_footer #social-tw:hover {
  color: #4099FF;
}

#lab_social_icon_footer #social-gp:hover {
  color: #3f3f44;
}

#lab_social_icon_footer #social-em:hover {
  color: #a12312;
}